@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600&family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,700&family=Rethink+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *:focus {
  outline: none;
  outline: 2px solid #fff;
  outline-offset: 3px;
} */

body {
  font-family: "Rethink Sans", sans-serif;
  color: #353232;
  background-color: #f2f2f2;
  font-weight: 600;
}

nav {
  /* background-color: rgba(255, 255, 255); */
  background-color: rgba(116, 151, 220, 0.753);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* nav p {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
} */

.navigation-logo {
  margin-left: 3rem;
  width: 5rem;
  /* padding: 0; */
}

.navigation-menu {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
}

.navigation-menu-item {
  font-size: 1.2rem;
  padding: 0 1rem;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  color: #353232;
  /* 
  height: 5rem;
  width: 5rem;
  ;
 */
}

.navigation-menu-item:hover,
.navigation-menu-item:active {
  border-radius: 3px;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  /* box-shadow: inset 0 0 0 3px #06d6a0; */
}

label {
  font-size: 1rem;
  padding-right: 0.8rem;
}

/* .label-small {
  width: 3.6rem;
} */

.icons-img {
  height: 1.5rem;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
  outline: 2px solid #fff;
  outline-offset: 3px;
}

input {
  border-radius: 3px;
  padding: 0.5rem;
  background-color: #ccc;

  /* border-radius: 10px; */
  border: none;
  width: 15rem;
}

.inputs-partition-first {
  width: 100%;
  /* border-radius: 50%;
  border-right: 5px solid #ccc; */
}
.page__title{
  text-align: center;
}

.form-container {
  /* box-shadow: 0px 3px 6px 0rem #ddd; */
  max-width: 70rem;
  margin: 1.5rem auto;
  padding: 2rem;
  /* border-radius: 9px; */
  /* background-color: #fff; */
  background-color: #f2f2f2;
  /* width: 100%; */
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 0 2rem; */
  margin-top: 2rem;
}

/* .input-space {
  width: 5rem;
} */

.form-inputs {
  padding-top: 1.6rem;
  /* display: grid; */
  width: 100%;
  /* grid-template-columns: 10fr 2fr; */
  /* gap: 20px; */
}
.submit-button-container {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 65px;
  justify-content: flex-end;
}
.submit-button,
.submit-button-exit {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ccc;
  border: none;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #06d6a0;
}
.submit-button-exit:hover {
  background-color: #d62828;
}

.icon-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

a {
  text-decoration: none;
  color: #353232;
}
