<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="Addis_Ababa_University_logo.png" />
    <title>Sign in to PASo - PASo</title>
    <link rel="stylesheet" type="text/css" href="style/login.css" />
  </head>
  <body>
    <nav>
      <div class="navigation-logo-container">
        <img
          src="img/Addis_Ababa_University_logo.png"
          class="navigation-logo"
          alt="PASo logo"
        />
      </div>
      <h1>Proctor Assisting Software</h1>
    </nav>
    <form method="post" action="/login">
      <h2>Login to Your account</h2>
      {{#error}}
      <div class="error">
        <p>{{error}}</p>
      </div>
      {{/error}}
      <!-- <div class="form-container"> -->
      <div class="label-input">
        <div class="icon-label">
          <div class="icons"><ion-icon name="person"></ion-icon></div>
          <label class="label" for="username">Username</label>
        </div>
        <input
          id="username"
          name="username"
          class="input-space"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="label-input">
        <div class="icon-label">
          <div class="icons"><ion-icon name="lock"></ion-icon></div>
          <label class="label" for="password">Password</label>
        </div>
        <div>
          <input
            id="password"
            name="password"
            class="input-space"
            type="password"
            placeholder="Input your password"
          />
        </div>
      </div>
      <!-- </div> -->
      <div class="btn-login-container">
        <input id="btn-login" type="submit" value="Login" />
      </div>
    </form>
    <footer>
      <p>Powered by Computer Science Group 6 students</p>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
